h1 {color:grey;}
h2 {color:grey;}
h3 {color:grey;}
h4 {color:black;}
h5 {color:black;}
h6 {color:blue;}
a  {color:blue;}
/* #48C9B0 lightsalmon*/
#ul_1 {
  list-style-type: circle;
}

#ul_style {
    color:gray ;
    list-style-type:circle;
    } 
    
#div_1 {
color:#303030 ;
background-color:#FFFFFF;
}
    
#div_style {
background-color:#FFFFFF;
}


#ul_st {
    color : #641E16;
    }
